body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 15cm;
}

.header1{
    display: flex;
    justify-content: space-between;
    padding-left: 5cm;
    padding-right: 5cm;
    padding-bottom: 2cm;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding-left: 5cm;
    padding-right: 5cm;
    align-items: center;
}


ul{
    display: flex;
    gap: 50px;
    list-style: none ;
    
}

button{
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    margin: auto;
}

#headerlogo{
    font-size: 24px;
    font-weight: 800;
}

#heroDescription{
    font-size: 48px;
    font-weight: 800;
}

#headerlink{
    color: #e5e7eb;
    font-size: 18px;
}

.imgbox{
    padding-left: 8cm;
}

.information{
padding-bottom: 60px;
}

#infohead{
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 800;
}

.images{
    display: flex;
    justify-content: center;
    gap: 2cm;
    padding-top: 10px;
}

#same{
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quote{
    background-color: #e5e7eb;
    width: auto;
    height: 10cm;
}

#paragraph{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding-top: 100px;
    padding-left: 550px;
    padding-right: 550px;

}

#author{
    font-size: 22px;
    color: #1F2937;
    font-weight: bolder;
    text-align: right;
    padding-right: 590px;
}

.response{
    width: 300px;
    border: 15px solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 400px;
    padding-left: 400px;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content:space-between;
    gap: 8px;

}

.text{
    font-weight: bolder;
    font-size: 20px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    width: auto;
    height: 2cm;
    text-align: center;
    padding-top: 20px;
}